.card-item {
  margin: 20px;
  font-size: 32px;
  color: #333;
  background-color: #fff;
  padding:20px 20px 0;
  .preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav {
    height: 80px;
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #00BDE2;
  }
}